extends layout 
 
block content 
 h1= title 
 if (toShow == null)
    h2 No instance to update
 else
    - let onionid = toShow._id 
    - let Onion= toShow.Onion 
    - let Dealer= toShow.Dealer
    - let price = toShow.price 

    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{onionid} 
    - let actionid = "/resource/onion/" + onionid 
    form(id='onionForm', action= actionid, method="PUT") 
        div.form-group 
            label.onionAttr(for='Onion') Onion 
            input#Onion(type='text', name='Onion', value= Onion ) 
        div.form-group 
            label.onionAttr(for='Dealer') Dealer
            input#Dealer(type='text', name='Dealer', value= Dealer) 
        div.form-group 
            label.onionAttr(for='price') onion price
            input#price(type='number', name='price', value= price ) 
        input(type="submit") 
 
    script.
        document.forms['onionForm'].addEventListener('submit', (event) => {
            event.preventDefault();
        // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                if(body.error)
                    alert('save failed Please enter valid Data')
                else
                    alert("Save succeded")
        // TODO handle body
            }).catch((error) => {
        // TODO handle error
                alert('save failed Please enter valid Data')

            });
        });